<p style="color: #BDBDBD;">Jangan khawatir! Cukup masukkan alamat email Anda di bawah ini dan kami akan mengirimkan petunjuk untuk mengatur ulang kata sandi Anda</p>
<form class="margin-t">
    <div class="form-group">
        <input type="email" class="form-control" placeholder="Email" required="">
    </div>
    <button type="submit" class="form-button button-l margin-b">Send</button>

    <p class="text-whitesmoke text-center"><small>Do not have an account?</small></p>
    <a class="text-darkyellow" href="/register"><small>Sign Up</small></a>
</form>