<div class="container text-center py-5">
  <h2 class="pb-3">Invoice Donasi</h2>
  <div class="mb-3">
    <h4>Nama Donatur:</h4>
    <div id="donorName" class="mb-2"></div>
  </div>
  <div class="mb-3">
    <h4>Email Donatur:</h4>
    <div id="donorEmail" class="mb-2"></div>
  </div>
  <div class="mb-3">
    <h4>Nomor Handphone Donatur:</h4>
    <div id="donorPhone" class="mb-2"></div>
  </div>
  <div class="mb-3">
    <h4>Jumlah Donasi:</h4>
    <div id="donationAmount" class="mb-2"></div><span id="amount" hidden></span>
    <button class="btn btn-outline-primary" onclick="copyText('amount')">Salin</button>
    <div id="thing"></div>
  </div>
  <div class="mb-3">
    <h4>Rekening Tujuan:</h4>
    <div id="accountBank" class="mb-2"></div>
    <div id="accountName" class="mb-2"></div>
    <div id="accountNumber"></div>
    <button class="btn btn-outline-primary" onclick="copyText('accountNumber')">Salin</button>
  </div>
  <form id="confimForm" method="POST" enctype="multipart/form-data">
    <div class="mb-3">
      <p>Mohon upload bukti transfer/pengiriman sebelum melakukan konfirmasi.</p>
      <input type="file" id="transferProof" name="transferProof" accept=".pdf, .jpg, .jpeg, .png" required>
    </div>
    <div class="mb-3">
      <button type="submit" id="confirmDonation" class="btn btn-success">Konfirmasi Donasi</button>
    </div>
  </form>
</div>
<script>
  function copyText(elementId) {
    const element = document.getElementById(elementId);
    navigator.clipboard.writeText(element.innerText);
    alert('Teks berhasil disalin!');
  }
</script>

<script>
  document.addEventListener('DOMContentLoaded', async () => {
    const invoiceId = window.location.pathname.split('/').pop(); // Ambil ID dari URL
    let response;

    // Ambil detail donasi dari server
    response = await axios.get(`/api/finance/${invoiceId}`);
    const donation = response.data;

    response = await axios.get(`/api/payment/${JSON.parse(donation.data).payment_method_id}`);
    const paymentMethod = response.data

    document.getElementById('donationAmount').innerText = new Intl.NumberFormat('id-ID', {
      style: 'currency',
      currency: 'IDR'
    }).format(donation.amount) || "0";
    document.getElementById('amount').innerText = parseInt(donation.amount) || "0";
    document.getElementById('accountName').innerText = `(a/n ${paymentMethod.account_name})`;
    document.getElementById('accountNumber').innerText = `${paymentMethod.account_number}`;
    document.getElementById('accountBank').innerText = `[${paymentMethod.provider}] `;

    if (JSON.parse(donation.data).additional_need.length > 0) {
      document.getElementById('thing').innerHTML += `<h4>Donasi Barang:</h4>`;
      JSON.parse(donation.data).additional_need.forEach((item) => {
        document.getElementById('thing').innerHTML += `<div class="mb-2">${item.name} - ${item.quantity} ${item.unit}</div>`;
      });
    }

    document.getElementById('donorName').innerText = donation.name;
    document.getElementById('donorEmail').innerText = donation.email;
    document.getElementById('donorPhone').innerText = donation.phone;

    document.getElementById('confirmDonation').addEventListener('click', async (e) => {
      e.preventDefault(); // Prevent the default form submission behavior
      try {
        Swal.fire({
          icon: 'warning',
          title: `Apakah Anda yakin ingin melakukan konfirmasi?`,
          text: ``,
          showCancelButton: true,
          confirmButtonText: "Konfirmasi",
          cancelButtonText: "Batal",
        }).then( async (result) => {
          if (result.isConfirmed) {
            const formData = new FormData(document.getElementById('confimForm'));
            const confirm = await axios.post(`/api/finance/${invoiceId}/confirm`, formData, {
              headers: {
                'Content-Type': 'multipart/form-data'
              }
            });
            Swal.fire({
              icon: 'success',
              title: `Jazakumullahu Khairan! ðŸ™`,
              text: `Terima kasih yang sebesar-besarnya atas donasi Anda. Semoga Allah Subhanahu wa Ta'ala menerima amal kebaikan Anda, melipatgandakannya, dan menjadikannya keberkahan bagi Anda dan keluarga.
                  Semoga kebaikan ini menjadi jalan pembuka rezeki dan rahmat Allah bagi Anda.
                  Kami berharap dapat terus bersama Anda dalam langkah-langkah kebaikan selanjutnya. Aamiin`,
            }).then(() => {
              window.location.href = '/'; // Arahkan ke homepage
            });
          }
        });
      } catch (error) {
        Swal.fire({
          icon: 'error',
          title: 'Oops...',
          text: error.response.data.message,
        });
      }
    });
  });
</script>