.bg-gradient-primary {
    background: linear-gradient(#424242, #212121) !important;
}

.gridjs-search {
    float: right
}

.gridjs-search input {
    width: 120px;
}

.bg-gradient-primary-admin {
    background: linear-gradient(#40a119, #1f998f) !important;
}

/* @media (max-width: 768px) {
    .sidebar {
        width: 0;
        overflow: hidden;
        background: linear-gradient(#424242, #212121) !important;
        z-index: 1040;
    }

    .sidebar.toggled {
        width: 250px;
        overflow: visible;
        background: linear-gradient(#424242, #212121) !important;
    }
} */